---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";




// sparkpost brand
$sp-gray:   #5a5a5a;
$sp-orange: #fa6423;
$sp-blue:   #37aadc;
$sp-green:  #9bcd5a;
$sp-red:    #f00a0a;

// black/grays/white
$c-black: #000;
$c-sp-gray: $sp-gray;
$c-gray-darkest  : lighten($c-black, 10%); //#1a1a1a
$c-gray-darker   : lighten($c-black, 20%); //#333
$c-gray-dark     : lighten($c-black, 40%); //#666
$c-gray          : lighten($c-black, 50%); //#808080
$c-gray-light    : lighten($c-black, 60%); //#999
$c-gray-lighter  : lighten($c-black, 80%); //#ccc
$c-gray-lightest : lighten($c-black, 90%); //#e6e6e6
$c-white: #fff;

// oranges
$c-orange: $sp-orange;

// typography
$base-font-family: 'Gotham Narrow SSm A','Gotham Narrow SSm B',sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 24px;
$spacing-unit:     30px;




// use media queries like this:
// @include media-query($device) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "layout"
;
