---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


//
// Variables
// --------------------------------------------------
// We can override any default bootstrap variables in this file as defined here:
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss

//== Colors
//
//## Brand colors for use across site

// sparkpost brand
$sp-gray        : #5a5a5a;
$sp-orange      : #fa6423;
$sp-blue        : #37aadc;
$sp-green       : #9bcd5a;
$sp-red         : #f00a0a;
$brand-primary  : $sp-orange;

$c-black        : #000;
$c-sp-gray      : $sp-gray;
$c-gray-darkest : lighten($c-black, 10%); //#1a1a1a
$c-gray-darker  : lighten($c-black, 20%); //#333
$c-gray-dark    : lighten($c-black, 40%); //#666
$c-gray         : lighten($c-black, 50%); //#808080
$c-gray-light   : lighten($c-black, 60%); //#999
$c-gray-lighter : lighten($c-black, 80%); //#ccc
$c-gray-lightest: lighten($c-black, 90%); //#e6e6e6
$c-terminal     : #2d2d2d;
$c-white        : #fff;
$c-orange       : $sp-orange;
$c-blue         : $sp-blue;
$c-green        : $sp-green;
$c-red          : $sp-red;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Global text color on `<body>`.
$text-color: $c-sp-gray;

//** Global textual link color.
$link-color:            $c-blue !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;


//== Grid system
//
//## Define your custom responsive grid.

//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         50px !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-size-base        : 14px !default;
$font-family-sans-serif: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-gotham-narrow: $font-family-sans-serif;
$font-family-gotham: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$headings-font-weight  : 200 !default;


//== Buttons
//
//## For each of Bootstrap's buttons, define text, background and border color.

$btn-primary-color      : #fff !default;
$btn-primary-bg         : $brand-primary !default;
$btn-primary-border     : $btn-primary-bg !default;

$btn-font-weight        : 400 !default;
$btn-border-radius-base : none !default;
$btn-border-radius-large: none !default;
$btn-border-radius-small: none !default;


//== Jumbotron
//
//##

$jumbotron-padding          : 80px !default;
$jumbotron-font-size        : ceil(($font-size-base * 1.25)) !default;
$jumbotron-heading-font-size: ceil(($font-size-base * 3.5)) !default;


// Import partials from `sass_dir` (see _config.yml for load_paths)
@import
        "bootstrap",
        "layout",
        "buttons",
        "code-examples",
        "forms",
        "jumbotron",
        "navbar",
        "sp-lab",
        "type"
;
