# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
.cache/
# Build directory
public/
.DS_Store
yarn-error.log
.env
# Netlify functions are built to this directory
functions/
# Temporary files from various editors
**/.*.sw?

*.orig
*.rej
