language: ruby
rvm:
- 2.2
before_install:
- gem update --system 2.6.14
- gem --version
install:
- bundle install
- pip install --user awscli
script: bundle exec rake site:build --quiet
branches:
  only:
  - develop
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true
  - secure: KA54uT0C74JOh5fx6vRRxk4Rkpd1jAi0Da/JnBxU4VxdgJtUq9Cx3AdVY3OIT5ubt9UhU0RvVD0VekiGIBFyWKcdjqRxKgHQRWrbod8DvJ2KZyam5E6dJPajnSn1VA0tG298ghfuIlyuvwMEIwdGU1ec3fXD3b8ggdilHYSSRSp/xd1nCdJQJPQMLTrluqhwfoNPJytxejOyGbQNqGyU5yVaLfrCqzC312a4GpXVrRrmrTqJi7lHP5NWz+cSaJROsvb/GqzvzBHdVxE4PIwrfDedv3xD+BMochrFA6DUwTyGtqPRIXQ1KpAjMnZYADAaai2rJGPAnB4TgQ1JG+SmZzjh1uQu2mz8gYLpfJNkSMAC1UfRYulxjiTF0Poe9x/8ii3wTqki4BKONDMarsB1Flicj80DlAzAIp64jkAIao0mXqwxvEG0M0kanNif1gr5aUln/zUkGChiZ1gsWtH3wiavIVfU70COwS0bpROar1f0tvZuDV/oXxwa3d/Nh6BvaUtK2NEdzmnxkhws1ReuxhIeGGW0c0y20JpG5dKe7bq1v21K+Z5EJTENL44NwtfCbNNovlbqgs598U7W6ZTc92zH1wRUxWpl5HwX5dutE4R9fV1KPhDlCkSjDK5LYf2tZsZ7ptUhgJtcbxVYuxcPZf3bjB4JwnQlwM33cr6/h+4=
  - secure: CPJLlICOxcYYBwUQQ2aucJaqfbEkTmWyKlgF6scoveu0YM5Wjxib7p/wWM4L+egbUPcsgjOAJFbuIGw81D5O1MZQYIVaOASxelRloFZJDevXjMzUVP9OAednESQPuiGhoGRk9ZcgVTV/hMFadcxREtxShDcDj4namwQZanaA0IIUc2ckeKp6qACcKHI5ZOrVQZjNrAN5xniId3gOCVFQH1V/7jzsPBa96VdSPgTePClcnaxojqRusOd3V+Hd6aoKUAt8S1+Dps3822Yc5oA3P7f+ow4+xOEH5p8A/obMloMcrY+3F9YgjfWCrKw1UwQ0xlDzww+5EbcaeJnTlEdsdOkZm95w7jn092KGAZOLdAGpYeB3G4A0eTyDfBQ+vFdppnqBwrZXWaMvlHXKXeovq4LXSKlk2VJx34PBRpenxjm5rmHZjSO2mW3xGxK5J+AORxxjOnWZhinhydG6APmfb56Fqeh0I9Wl6avsAsqiW8rHGTq3t9lK/8xv5joRIkxNdiy5t4mj+pXaKpht2R6+7YlbB+56SFZiEhuiDfi13ZIPQPgu8pYa5xp3A/KN7y4cdC2XO91fULAcsziKs4lq+cxWMzT2l9N7liFyR2TyPV4Ulb1kkJ16FRELRAOsgStkjBB9Qw+xXC/aHUQUELGXoCeTSMTc0+/bW0ZKCwJtQJg=
  - secure: jWiiOKuqHD7R/FHwtDmfTzGJmj5NZEhRXM7tWGs1X/bcU0N2oQJl/8jDZrliLyR5L+RKVCPbVuUU3vT+QfToRO0DqMplLFKg80KNeyQnbIKybZC7BCUwzWXgN7YmbQCDnEKl/fEhfb25x+xwZI4s1fUmPuFsOr5Ve9WtnhOfqokrqUZjaLKu6sCPpkeSJ4V2Mid8v35aZxw+irffr9tYorMzaKYt1X2aQ/JNMoz60/GyrE7ZieKx+XePvsGNG3/cq7ALLPCdgoZZvTPkE8u3LxlbcC7cu8BrTeJpNNDAMzSEeBg5SNKkSXHDZCCyb8Pu+SMORkdvUyMQ6J9i251nbDjgNYb1V9M+rxfF8RLmTW1oGZQSOPfwgFrP3T5mVh1AujURNEsInvSSXK5lnIPF8cczZEB9rnkPYXROHQTzR/4q4C/03Ea5i1V8QvuOg/KFUlxgkiklX5uP2KdADAjqU2TJ5GxJZ6pCwA/EeJ3Kk5gcyjjbSb9E+iSEzWrarLoCcn2JOc39I+9IEQHS4NJ4XuBu76Xxew0ACvsb7YUS5Nv9ukKWq+uvpZK46NHJ6/W5wuu+TCcn6MAVYNlcIbfqJHhos2BSTIWUiEw3A/+Ww7GcGeRh2UyOa9TUEvkDje3wszcA6NpCE3M2GmYGD7l4FG/+U9JlHjTuloeF9Bx3Bk4=
notifications:
  slack:
    secure: TET5NbblvZ0d3nTJyOzDSHZ3WUOCArpH8F64LSGZF/WQ87vqFbpyQSIqX7776fL4qYblPAc/hjOUtLH+hRzmHRVhKaZsLCCwcmL7/EHQe8jHt3lNrF8QWmwwFMs13oqmi+PAB3hpkX9Y4mKjyjLnjB0vqDnLMV4ktrnZ/GtM69i5hCIyaxKiYzp+uX7JOWop7JEtn9nDPT/IWzEYN2bxHw7G35BG8Ks0QK8LfSTcVruN2AJ1veFg1PbjE+kx6Brj37+4D3Pwn7mtcTmDAkygQtdCZFzaCzQTtY0PG3peKwp6lPQBJzmeo1IALydDvhuZ3CNgw7Vufazal0Bs476ip/w197EvgAtCOu1NWNQWAbl7DtnifXE/CnkPpkI5NeijpiVIulDe09aCh9LpwO+21CSG0kxIxWNJauK9tPPSYDBlZbB+V1A/kXXg+BLONbv5CfNRAN1azDRG71kxC68NKlfsPqPbp/IBZqa4J7X+jllPOw77k8qtwpj8me5+ctfzsl9Yi4Fyf9LQxpbdgmFCjyvefd7q6xRVSrj1zNZWWY4LhItfS9tdSHP7vNLFHhZ+mLQ4dpnSA9pHBC5LpYPYdcpJEL48tMn8QYXOGUIdpbZyrt/DfC1rYgeWKz33aWDLnxD89RK/eomRd7JPKihFPzDlDF2jFmKL2Oxd8TzMBPc=
deploy:
  provider: s3
  access_key_id: $ENG_AWS_ACCESS_KEY_ID
  secret_access_key: $ENG_AWS_SECRET_ACCESS_KEY
  skip_cleanup: true
  bucket: developers.sparkpost.com
  local-dir: _site
  acl: public_read
  on:
    repo: SparkPost/developers.sparkpost.com
    branch: develop
after_deploy:
  - ./script/purge_cache
