---
layout: default
---
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <p><img src="{{ "images/logo-sparkpost.png" | prepend: site.baseurl }}" alt="SparkPost" width="270" /></p>
        <h1>Build Something Awesome.</h1>
        <p>The SparkPost Developer Hub is a collection of resources to help you succeed with SparkPost – the email delivery and analytics service for developers. What will you build?</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row row-code-examples">
    <div class="container">
      <div class="col-xs-12">

        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
          <div class="page-header page-header-code-examples">
            <h1 class="text-center">Our API, Your Language</h1>
            <p class="text-center">
              Combined with your language of choice, using the awesome, super-colossal power of our API couldn't be easier.  <a class="mp-signup" href="https://app.sparkpost.com/sign-up?src=Dev-Website&sfdcid=701600000011daf">Create an account</a>, grab one of our client libraries, and get started quickly.
            </p>
          </div>
        </div>

        <div class="col-xs-12 hidden-xs">
          <div id="code-examples" class="code-examples">
            <ul class="nav nav-pills">
              <li role="presentation" class="active"><a href="#curlExample" aria-controls="curlExample" data-toggle="pill" data-mp-language="cURL">cURL</a></li>
              <li role="presentation"><a href="#nodeExample" data-toggle="pill" data-mp-language="Node.js"><i class="devicon devicon-nodejs-plain"></i> Nodejs</a></li>
              <li role="presentation"><a href="#pythonExample" data-toggle="pill" data-mp-language="Python"><i class="devicon devicon-python-plain"></i> Python</a></li>
              <li role="presentation"><a href="#phpExample" data-toggle="pill" data-mp-language="PHP"><i class="devicon devicon-php-plain"></i> PHP</a></li>
              <li role="presentation"><a href="#rubyExample" data-toggle="pill" data-mp-language="Ruby"><i class="devicon devicon-ruby-plain"></i> Ruby</a></li>
              <li role="presentation"><a href="#javaExample" data-toggle="pill" data-mp-language="Java"><i class="devicon devicon-java-plain"></i> Java</a></li>
              <li role="presentation"><a href="#goExample" data-toggle="pill" data-mp-language="Go"><i class="devicon devicon-go-plain"></i> Go</a></li>
              <li role="presentation"><a href="#elixirExample" data-toggle="pill" data-mp-language="Elixir"><i class="devicon devicon-elixir-plain"></i> Elixir</a></li>
            </ul>
            <div id="code-examples" class="tab-content">
              <div class="tab-pane active" id="curlExample">
{% highlight sh %}
curl -XPOST \
  https://api.sparkpost.com/api/v1/transmissions \
  -H "Authorization: <YOUR API KEY>;" \
  -H "Content-Type: application/json" \
  -d '{"content": {"from": "testing@sparkpostbox.com", "subject": "Oh hey", "text":"Testing SparkPost - the most awesomest email service in the world"}, "recipients": [{"address": "developers@sparkpost.com"}]}'
{% endhighlight %}
              </div>
              <div class="tab-pane" id="nodeExample">
                <a class="btn btn-default btn-sm btn-gh" href="https://github.com/sparkpost/node-sparkpost"><i class="fa fa-fw fa-github"></i>&nbsp; View on Github</a>
{% highlight js %}
var sparky = new SparkPost('<YOUR API KEY>');

sparky.transmissions.send({
  transmissionBody: {
    content: {
      from: 'testing@sparkpostbox.com',
      subject: 'Oh hey!',
      html:'<html><body><p>Testing SparkPost - the world\'s most awesomest email service!</p></body></html>'
    },
    recipients: [
      {address: 'developers@sparkpost.com'}
    ]
  }
}, function(err, res) {
  if (err) {
    console.log('Whoops! Something went wrong');
    console.log(err);
  } else {
    console.log('Woohoo! You just sent your first mailing!');
  }
});
{% endhighlight %}
              </div>
              <div class="tab-pane" id="pythonExample">
                <a class="btn btn-default btn-sm btn-gh" href="https://github.com/sparkpost/python-sparkpost"><i class="fa fa-fw fa-github"></i>&nbsp; View on Github</a>
{% highlight python %}
from sparkpost import SparkPost

sparky = SparkPost('<YOUR API KEY>')

response = sparky.transmissions.send(
    recipients=['developers@sparkpost.com'],
    html='<html><body><p>Testing SparkPost - the world\'s most awesomest email service!</p></body></html>',
    from_email='testing@sparkpostbox.com',
    subject='Oh hey!')
{% endhighlight %}
              </div>
              <div class="tab-pane" id="phpExample">
                <a class="btn btn-default btn-sm btn-gh" href="https://github.com/sparkpost/php-sparkpost"><i class="fa fa-fw fa-github"></i>&nbsp; View on Github</a>
{% highlight php startinline %}
use SparkPost\SparkPost;
use GuzzleHttp\Client;
use Ivory\HttpAdapter\Guzzle6HttpAdapter;

$httpAdapter = new Guzzle6HttpAdapter(new Client());
$sparky = new SparkPost($httpAdapter, ['key'=>'<YOUR API KEY>']);

$results = $sparky->transmission->send([
    'from'=>'testing@sparkpostbox.com',
    'html'=>'<html><body><p>Testing SparkPost - the world\'s most awesomest email service!</p></body></html>',
    'subject'=> 'Oh hey!',
    'recipients'=>[
      ['address'=>['email'=>'developers@sparkpost.com']]
    ]
]);
{% endhighlight %}
              </div>
              <div class="tab-pane" id="rubyExample">
                <a class="btn btn-default btn-sm btn-gh" href="https://github.com/sparkpost/ruby-sparkpost"><i class="fa fa-fw fa-github"></i>&nbsp; View on Github</a>
{% highlight ruby startinline %}
require 'sparkpost'

sparky = SparkPost::Client.new('<YOUR API KEY>')

response = sparky.transmission.send_message(
  'developers@sparkpost.com',
  'testing@sparkpostbox.com',
  'Oh hey!',
  '<html><body><p>Testing SparkPost - the world\'s most awesomest email service!</p></body></html>'
)
{% endhighlight %}
              </div>
              <div class="tab-pane" id="javaExample">
                <a class="btn btn-default btn-sm btn-gh" href="https://github.com/sparkpost/java-sparkpost"><i class="fa fa-fw fa-github"></i>&nbsp; View on Github</a>
{% highlight java startinline %}
package com.sparkpost;

import com.sparkpost.exception.SparkPostException;

public class SparkPost {

    public static void main(String[] args) throws SparkPostException {
        String API_KEY = "<YOUR API KEY>";
        Client sparky = new Client(API_KEY);

        sparky.sendMessage(
                "testing@sparkpostbox.com",
                "developers@sparkpost.com",
                "Oh hey!",
                "Testing SparkPost - the world's most awesomest email service!",
                "<p>Testing SparkPost - the world's most awesomest email service!</p>");
    }
}
{% endhighlight %}
              </div>
              <div class="tab-pane" id="goExample">
                <a class="btn btn-default btn-sm btn-gh" href="https://github.com/sparkpost/go-sparkpost"><i class="fa fa-fw fa-github"></i>&nbsp; View on Github</a>
{% highlight go startinline %}
package main

import (
    sp "github.com/SparkPost/gosparkpost"
    "log"
)

func main() {
    var sparky sp.Client
    err := sparky.Init(&sp.Config{ApiKey: "<YOUR API KEY>"})
    if err != nil {
        log.Fatalf("SparkPost client init failed: %s\n", err)
    }

    tx := &sp.Transmission{
        Recipients: []string{"developers@sparkpost.com"},
        Content: sp.Content{
            HTML:    "<p>Testing SparkPost - the world's most awesomest email service!</p>",
            From:    "test@sparkpostbox.com",
            Subject: "Oh hey!",
        },
    }
    id, _, err := sparky.Send(tx)
    if err != nil {
        log.Fatal(err)
    }

    log.Printf("Transmission sent with id [%s]\n", id)
}
{% endhighlight %}
              </div>
              <div class="tab-pane" id="elixirExample">
                <a class="btn btn-default btn-sm btn-gh" href="https://github.com/sparkpost/elixir-sparkpost"><i class="fa fa-fw fa-github"></i>&nbsp; View on Github</a>
{% highlight elixir startinline %}
defmodule MyApp.Example
  def send_message do
    SparkPost.send to: "developers@sparkpost.com",
      from: "test@sparkpostbox.com",
      subject: "Oh hey!",
      html: "<p>Testing SparkPost - the world's most awesomest email service!</p>"
  end
end
{% endhighlight %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row row-light">
    <div class="container">
      <div class="col-xs-12">

        <div class="col-xs-12 col-sm-6">
          <h3>Client Libraries</h3>
          <p>
            Our client libraries allow you to use SparkPost with your language of choice. Don't see your language or integration? We welcome contributions from the community. If you have a library or integration, <a href="mailto:developers@sparkpost.com?subject=Dev%20Hub:%20Client%20Libraries">let us know</a>!
          </p>

          {% assign official_libs = site.data.libraries | where:"type", "official" %}
          {% if official_libs.size > 0 %}
          <ul id="list-libraries" class="libraries">
            {% for library in official_libs %}
            <li><a href="https://www.github.com/{{ library.github_repo }}" data-mp-library="{{ library.name }}">{{ library.name }}</a> - {{ library.description }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6">
          <h3>Samples &amp; Integrations</h3>
          <p>
            Our code samples and snippets are real-world examples in various formats that show how to use SparkPost. Integrations allow you to use SparkPost through your favorite service.
          </p>
          <ul id="list-samples">
            <li><a href="https://elements.heroku.com/addons/sparkpost">Heroku add-on</a></li>
            <li><a href="https://zapier.com/zapbook/sparkpost/">Zapier app</a></li>
          </ul>
          <p>
            <a href="https://support.sparkpost.com/customer/en/portal/topics/780292-integrations/articles">More integrations</a>
          </p>
        </div>

      </div>

      <div class="col-xs-12">

        <div class="col-xs-12 col-sm-6">
          <h3>Dev Events</h3>
          <p>
            Whether you're using SparkPost or want to know more about us, we would love to meet you in person! Come say hi to the SparkPost team at one of these upcoming events.
          </p>
          {% assign events = site.data.events | where:"type", "future" | sort: 'date_start' %}
          {% if events.size > 0 %}
          <div id="list-events">
            {% for event in events %}
            <h4><a href="{{ event.url }}">{{ event.name }}</a></h4>
            <p>
              {{ event.date_start | date: "%B %d" }}{% if event.date_end %}&ndash;{{ event.date_end | date: "%d" }}{% endif %}<br>
              {{ event.location }}
            </p>
            {% endfor %}
          </div>
          {% else %}
          <p>
            We are constantly looking for new events to attend. Check back later for updates. If you would like us to attend your event, please <a href="mailto:developers@sparkpost.com?subject=Dev%20Events">let us know</a>!
          </p>
          {% endif %}
        </div>

        <div class="col-xs-12 col-sm-6">
          <h3>Engineering Posts</h3>
          <p>
            Our engineers write posts because sharing is caring. Learn a thing or two about our software and the awesome team of engineers behind SparkPost. Have a read and let us know what you think!
          </p>
          <ul id="list-posts">
            <li><a href="https://www.sparkpost.com/blog/go-sparkpost-library-released/">SparkPost Client Library for Go Released!</a></li>
            <li><a href="https://www.sparkpost.com/blog/universal-links-with-sparkpost-elite/">Universal Links with SparkPost Elite</a></li>
            <li><a href="https://www.sparkpost.com/blog/webhooks-beyond-the-basics/">SparkPost Webhooks: Beyond The Basics</a></li>
            <li><a href="https://www.sparkpost.com/blog/developer-community-manager-mary-and-ember-dog/">Introducing Our New Developer Community Manager, Mary (and Ember Dog)!</a></li>
            <li><a href="https://www.sparkpost.com/blog/sparkpost-hackathon/">Developer Innovation at the SparkPost Hackathon</a></li>
          </ul>
          <p>
            <a href="https://www.sparkpost.com/blog/category/developer/">More posts from our engineers</a>
          </p>
        </div>

      </div>
    </div>

  </div>
</div>
