<footer>
  <div class="container-fluid">
    <div class="row row-dark">
      <div class="container">
        <div class="col-xs-12">
          <div class="col-xs-12 col-sm-6">
            <h3>SparkPost</h3>
            <p>
              Sparkpost is the email delivery service based on the Momentum platform from Message Systems. It provides the same deliverability, scalability and speed as we provide to the biggest senders in the world, in an easily integrated cloud solution.
            </p>
          </div>
          <div class="col-xs-12 col-sm-6 sp-connect">
            <div class="row">
              <div class="col-xs-12">
                <h3>Connect</h3>
              </div>
              <div class="col-xs-6">
                <p><a href="https://github.com/sparkpost"><i class="fa fa-fw fa-github"></i>&nbsp; Github</a></p>
                <p><a href="http://stackoverflow.com/tags/sparkpost"><i class="fa fa-fw fa-stack-overflow"></i>&nbsp; Stack Overflow</a></p>
                <p><a href="https://twitter.com/sparkpost"><i class="fa fa-fw fa-twitter"></i>&nbsp; Twitter</a></p>
              </div>
              <div class="col-xs-6">
                <p><a href="https://www.facebook.com/sparkpost"><i class="fa fa-fw fa-facebook"></i>&nbsp; Facebook</a></p>
                <p><a href="https://www.linkedin.com/company/9486856"><i class="fa fa-fw fa-linkedin"></i>&nbsp; LinkedIn</a></p>
                <p><a href="https://www.youtube.com/channel/UC5vz6wEfpJjGipY_alrYuhQ"><i class="fa fa-fw fa-youtube"></i>&nbsp; YouTube</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
