<footer>
  <div class="container-fluid">
    <div class="row row-dark">
      <div class="col-md-4">
        <h3>SparkPost</h3>
        <p>
          Sparkpost is the email delivery service based on the Momentum platform from Message Systems. It provides the same deliverability, scalability and speed as we provide to the biggest senders in the world, in an easily integrated cloud solution.
        </p>
      </div>
      <div class="col-md-4 sp-connect">
        <h3>Connect</h3>
        <p><a href="https://github.com/sparkpost"><i class="fa fa-fw fa-github"></i>&nbsp; Github</a></p>
        <p><a href="http://stackoverflow.com/tags/sparkpost"><i class="fa fa-fw fa-stack-overflow"></i>&nbsp; Stack Overflow</a></p>
        <p><a href="https://twitter.com/sparkpost"><i class="fa fa-fw fa-twitter"></i>&nbsp; Twitter</a></p>
        <p><a href="https://www.facebook.com/sparkpost"><i class="fa fa-fw fa-facebook"></i>&nbsp; Twitter</a></p>
        <p><a href="https://www.youtube.com/channel/UC5vz6wEfpJjGipY_alrYuhQ"><i class="fa fa-fw fa-youtube"></i>&nbsp; YouTube</a></p>
      </div>
      <div class="col-md-4">
        <h3>Subscribe to our newsletter</h3>
        <form>
          <input type="text" class="form-control" id="nlFirstName" placeholder="First Name" />
          <input type="text" class="form-control" id="nlLastName" placeholder="Last Name" />
          <input type="email" class="form-control" id="nlEmail" placeholder="Email Address" />
          <button type="button" class="btn btn-primary btn-sm btn-block">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</footer>
