<header class="site-header">
  <nav id="nav" class="sp-menu navbar navbar-default navbar-fixed-top" data-spy="affix" data-offset-top="60">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="https://www.sparkpost.com"><img src="{{ "/images/logo-sparkpost-white.png" | prepend: include.base }}" alt="SparkPost" width="150"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Developer Hub</a></li>
          <li><a href="https://www.sparkpost.com/api">API Docs</a></li>
          <li><a href="https://www.sparkpost.com/blog/category/developer/">Blog</a></li>
          <li><a href="{{ "/videos/" | prepend: include.base }}">Videos</a></li>
          <li><a href="https://support.sparkpost.com">Support</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://app.sparkpost.com/">Log In</a></li>
          <li><a class="mp-signup" href="https://app.sparkpost.com/sign-up?src=Dev-Website&sfdcid=701600000011daf">Sign Up</a></li>
        <ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav>
</header>
