<header class="site-header">
  <nav class="sp-menu navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}"><img src="{{ "images/logo-navbar.png" | prepend: site.baseurl }}" alt="SparkPost" width="15"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="https://www.sparkpost.com/api">API Docs</a></li>
          <li><a href="#">Libraries</a></li>
          <!-- <li><a href="#">Blog</a></li> -->
          <li><a href="https://github.com/SparkPost/gists-and-code-snippets">Snippets</a></li>
          <li><a href="/videos">Videos</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="https://app.sparkpost.com/">Log In</a></li>
          <li><a href="https://app.sparkpost.com/sign-up?src=devhub">Sign Up</a></li>
        <ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</header>
