<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ "/images/favicon-16.png" | prepend: include.base }}" sizes="16x16">
    <link rel="icon" href="{{ "/images/favicon-32.png" | prepend: include.base }}" sizes="32x32">
    <link rel="icon" href="{{ "/images/favicon-48.png" | prepend: include.base }}" sizes="48x48">
    <link rel="shortcut icon" href="{{ "/images/favicon.ico" | prepend: include.base }}">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    <meta property="og:site_name" content="SparkPost Developer Hub">
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace: 'index.html', '' }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:image" content="{{ site.url }}/images/logo-sparkpost.png">

    <link href="{{ "/bower_components/font-awesome/css/font-awesome.min.css" | prepend: include.base }}" rel="stylesheet">
    <link href="{{ "/bower_components/devicon/devicon.min.css" | prepend: include.base }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cloud.typography.com/6240112/779488/css/fonts.css">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: include.base }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace: 'index.html', '' }}">
</head>
