<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: include.base }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ "/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js" | prepend: include.base }}"></script>
<!-- Twitter Tweet Button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<!-- Facebook Share Button -->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId={{ site.facebook_app_id }}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- dev hub custom js -->
<script src="/js/hub.js"></script>
