//
// Buttons
// --------------------------------------------------

.btn {
  font-family: $font-family-gotham;
  font-weight: 500;
  font-style: normal;
  font-size: $font-size-base * .857142857; // 12px
  text-transform: uppercase;
}

.btn-charity {
  background-color: $c-red;
  color: $c-white;

  &:hover,
  &:active,
  &:visited,
  &:focus,
  &:active:focus {
    box-shadow: none;
    color: $c-white;
    outline: none;
  }
}
