//
// General layout items
// --------------------------------------------------

body {
  padding-top: 50px;
}

.sp-connect {
  a {
    color: $c-white;

    &:hover {
      text-decoration: none;
    }
  }
}

.row-darker {
  background-color: $c-sp-gray;
  color: $c-white;
  padding-bottom: 20px;
}

.row-dark {
  background-color: lighten($c-sp-gray, 4%);
  color: $c-white;
  padding-bottom: 20px;
}

.video {
  margin-bottom: 50px;
}
