//
// General layout items
// --------------------------------------------------

body {
  padding-top: 50px;
}

.sp-connect {
  a {
    color: $c-white;

    &:hover {
      text-decoration: none;
    }
  }
}

.row-light {
  background-color: lighten($c-sp-gray, 58%);
  padding-top: 40px;
  padding-bottom: 40px;

  ul {
    margin-bottom: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}

.row-dark {
  background-color: lighten($c-sp-gray, 4%);
  color: $c-white;
  padding-bottom: 20px;
}

.row-darker {
  background-color: $c-sp-gray;
  color: $c-white;
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-graphic {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid $c-gray;

  &.last {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.content-social {
  vertical-align: middle;

  // behave, facebook button!
  iframe {
    vertical-align: middle;
  }

  span {
    display: inline-block;
  }

  .twitter {
    iframe {
      margin-top: -2px;
    }
  }
}


// Video pages
// -------------------------

.video-thumb {
  margin-bottom: 50px;

  img {
    border: 1px solid $c-gray-lighter;
  }
}

.video-detail {

  .media {
    margin-top: 20px;

    .media-object {
      border-radius: 50%;
    }
  }
}

.embed-responsive {
  border: 1px solid $c-gray-lighter;
}

// Libraries page
// -------------------------

.libraries {
  li {
    margin-bottom: 10px;
  }
}
