.sp-menu {
  background-color: $c-orange;

  .navbar-brand,
  .navbar-nav > li > a {
    color: $c-white;

    &:hover {
      color: $c-white;
    }
  }
}

.jumbotron {
  background-color: $c-sp-gray;
  color: $c-white;
  text-align: center;
}

.row-darker {
  background-color: $c-sp-gray;
  color: $c-white;
}

.row-dark {
  background-color: lighten($c-sp-gray, 4%);
  color: $c-white;
}
