//
// General layout items
// --------------------------------------------------

html {
  /* To match the footer for vertically short pages, avoids nasty white stripe below footer */
  background-color: $c-sp-gray;
}

body {
  font-weight: 300;
}

.sp-connect {
  a {
    color: $c-white;

    &:hover {
      text-decoration: none;
    }
  }
}

.row-normal {
  padding-bottom: 40px;
}

.row-light {
  background-color: lighten($c-sp-gray, 58%);
  padding-top: 40px;
  padding-bottom: 40px;

  ul {
    margin-bottom: 20px;
    margin-top: 20px;

    li {
      margin-bottom: 10px;
    }
  }
}

.row-dark {
  background-color: $c-sp-gray;
  color: $c-white;
  padding-bottom: 20px;
}

.row-darker {
  background-color: $c-sp-gray;
  color: $c-white;
}

.content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.content-graphic {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid $c-gray;

  &.last {
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.content-social {
  vertical-align: middle;

  // behave, facebook button!
  iframe {
    vertical-align: middle;
  }

  span {
    display: inline-block;
  }

  .twitter {
    iframe {
      margin-top: -2px;
    }
  }
}


// Libraries page
// -------------------------

.libraries {
  li {
    margin-bottom: 10px;
  }
}

// FAQs
// -------------------------

.faq-categories {
  border-top: 1px solid $c-gray-lightest;
  list-style: none;
  padding: 0;

  li {
    border-bottom: 1px solid $c-gray-lightest;
    font-size: $font-size-base;
    padding: 10px;
  }
}

// API Reference: aka static API docs
// --------------------------

.page-api-reference {
  color: $c-gray-darker;

  /*
   * <table> becomes <table class="table">
   * .table is the basic Bootstrap table layout
   */
  table {
    @extend .table;
  }

  h1 {
    font-size: 20pt;
    font-weight: bold;
  }

  h2 {
    font-size: 17pt;
    font-weight: bold;
  }

  h3 {
    font-size: 14pt;
    font-weight: bold;
  }

  h4 {
    font-size: 11pt;
    font-weight: bold;
  }

  // Small+ screens: scroll menu and content independently
  @media (min-width: 768px) {

    /*
     * Padding above each anchored header to account for the fixed header and 
     * ensure navigating scrolls to the correct position.
     */
    h2:before, h3:before, h4:before {
      display: block;
      content: " ";
      margin-top: -80px;
      height: 80px;
      visibility: hidden;
    }

    .site-header {
      // Disable scroll to avoid awkward title bar scroll movement
      overflow: hidden;
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 100; // Keep site-header above contentblock as it scrolls
    }

    #menublock {
      position: fixed;
      top: 76px;
      left: 0;
      bottom: 0; // This forces menublock to screen height rather than the height of children set at load-time 
      overflow-x: hidden;
      overflow-y: auto;
      z-index: 0;
    }

    /*
     * Left margin to avoid menublock
     * Top margin to avoid site-header
     */
    #contentblock {
      margin-left: 25%;
      margin-top: 76px;
      padding-bottom: 40px;
    }
  } /* @media */

  .site-header {
    nav .container {
      margin-left: auto;
      margin-right: auto;
    }

    .navbar {
      margin-bottom: 0;
    }

    .nav-banner {
      display: none;
    }
  }

  footer {
    display: none;
  }

  #menublock {
    @extend .col-sm-3;
    background-color: $c-gray-darker;
    padding-left: 15px;

    .algolia-autocomplete {
      width: 100%;
      margin-top: 15px;
      margin-left: auto;
      margin-right: auto;
    }

    .algolia-autocomplete {
      color: #55555a;
      font-size: 10pt;

      // Font Awesome search icon: i.fa-search
      #searchBadge {
        position: absolute;
        padding: 7px 0 0 7px;
        left: 0px;
        top: 0px;
        height: 30px;
        font-size: 15px;
      }

      .aa-input {
        border: 0;
        width: 100%;
        min-height: 30px;
        text-indent: 27px;
      }

      .aa-dropdown-menu {
        overflow-x: hidden;
        overflow-y: auto;
        max-height:  400px;
        width: 100%;
        background-color: #fff;
        padding: 0;

        .aa-suggestion {
          cursor: pointer;
          padding: 15px 10px 15px 27px;

          em {
            font-weight: bold;
            font-style: normal;
          }
        }

        .aa-cursor {
          background-color: #DAD8E0;
        }
      }

      .suggestion-section {
        font-size: 75%;
      }
    }
  }

  #contentblock {
    @extend .col-sm-9;
    background-color: white;

    /*
     * Aglio's Olio theme uses markdown-it with markdown-it-anchor which emits
     * <a class="permalink">&para;</a> after each heading.
     * This is simpler than forking Olio.
     */
    a.permalink {
      visibility: hidden;
    }

    .request {
      .uri {
        padding-left: 20px;
      }
    }

    .method {
      padding-top: 4px;
      padding-bottom: 10px;
    }

    .headers {
      padding-bottom: 10px;

      ul {
        padding-left: 20px;
        li {
          list-style-type: none;
        }
      }
    }

    .param-value-list {
      li {
        font-family: Monospace;
        font-size: 8pt;
      }
    }

    .param-annotation {
      font-size: 9pt;
    }

    .markdown, .resource {
      /*
       * Wrap code to avoid huge overflow into the right margin.
       * The metrics API endpoints are worst for this: lots of query params.
       * Taken from https://css-tricks.com/snippets/css/make-pre-text-wrap/
       */
      code {
        word-wrap: break-word;
      }
    }

    @import "_api-syntax-highlighting";

  } // #contentblock

  #apimenu {
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;

    // Endpoint heading: Transmissions, Metrics, ...
    .heading {
      padding-bottom: 10px;
      a {
        color: $c-gray-light;
        font-weight: bold;
        font-size: 10pt; 
      }
    }

    // Currently selected endpoint page
    .current {
      a {
        color: $sp-orange;
      }
    }

    // Hide submenus for all menu items
    .collapse-content {
      display: none;
    }

    // ...except the current one
    .current + .collapse-content {
      display: block;
    }

    // Submenu items within an endpoint
    ul {
      padding-bottom: 3px;
      padding-left: 12px;
      list-style: none;
      border-left: 6px solid #4E4E4E;

      li {
        padding-bottom: 15px;

        a {
          color: white;
        }

        /*
         * Requests within an endpoint section
         *  - slight indent
         *  - each item flush with next
         *  - sub-sub-menus flush with outer menu
         */
        ul {
          padding-bottom: 0px;
          border-color: dimgray;
          border-width: 2px;
          padding-left: 7px;

          li {
            padding-bottom: 0px;
            color: white;
            list-style: none;
          }
        }
      }
    }
  } // nav#apimenu
}

