//
// Navbars
// --------------------------------------------------

.navbar {
  transition-property: background-color;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  background-color: $c-orange;
  border: none;

  @media screen and (min-width: $screen-sm-min) {
    background-color: transparent;
  }

  .navbar-brand {
    padding: 10px 15px;
  }

  .navbar-brand,
  .navbar-nav > li > a {
    color: $c-white;
    text-transform: uppercase;

    &:hover,
    &:active {
      color: $c-white;
    }
  }

  &.affix {
    background-color: $c-orange;
  }
}

.navbar-default {
  .navbar-toggle {
    background-color: $c-orange;
    border: none;
    color: $c-white;
    padding-left: 0;
    padding-right: 0;

    &:hover,
    &:focus {
      background-color: $c-orange;
    }
  }

  .navbar-collapse.in,
  .navbar-collapse.collapsing {
    border: none;
    box-shadow: inset 0 3px 10px rgba(red($c-black), red($c-black), red($c-black), 0.2);
  }
}
