---
layout: default
title: Hackathon Resources
---
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
        <p><img src="{{ "/images/logo-sparkpost.png" | prepend: site.baseurl }}" alt="SparkPost" width="270" /></p>
        <h1>Hackathons</h1>
      </div>
    </div>
  </div>
</div>
<div class="container content">
  <div class="row">
    <div class="col-md-8">
      <h1>Build Something Awesome</h1>
      <h3>with Email Delivery and Analytics made for Developers</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-push-8">
      {% assign hackathons_grouped = site.hackathons | group_by: 'type' | sort: 'name' %}
      {% for group in hackathons_grouped %}
      <h4>{{ group.name | capitalize }} Hackathons</h4>
      <ul class="list-group">
        {% assign items = group.items | sort: 'date_start' %}
        {% for item in items  %}
        <li class="list-group-item"><a href="{{ item.url | prepend: site.base }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
      {% endfor %}
      <p>Join the #hackathons channel in our <a href="http://slack.sparkpost.com">Community Slack</a> for help and advice on your project.</p>
    </div>
    <div class="col-md-8 col-md-pull-4">
      <p style="margin-top:10px">
        Snapchat, Messenger, FaceTime, and Kik are all great, but email is still the king of communication. Email is universal, has zero barriers to adoption, and it’s an open standard, no matter your users’ platforms.
      </p>
      <p>
        Whether it’s automated emails to verify a password, personalized messages to your user list, or a sophisticated triggered onboarding program, SparkPost provides the tools necessary to track your users’ reactions and to keep them engaged.
      </p>
      <p>
        Here are a just few ways you can use SparkPost in your app:
      </p>
      <h3>Transactional Emails</h3>
      <ul>
        <li><strong>Sign-up Form</strong> - When a new user creates an account, developers can trigger welcome emails and contact information verification emails via SparkPost.</li>
        <li><strong>Password Recovery</strong> - Developers can use SparkPost APIs to send password recovery emails to unique users.</li>
        <li><strong>Notification and Reminders</strong> - Developers can use SparkPost to send out real-time, personalized notifications and reminders to users based on their preferences (e.g., price alerts, upgrade noti cations and task reminders).</li>
        <li><strong>Product Purchase Receipts</strong> - Using SparkPost, developers can trigger automatic purchase receipts on in-app purchases.</li>
      </ul>

      <h3>Inbound Relay</h3>
      <ul>
        <li><strong>Auto-Replies</strong> - Trigger an email response to the sender.</li>
        <li><strong>Raffle</strong> - Use email to collect entries for a giveaway and select a winner at random.</li>
        <li><strong>Voting System</strong> - Tally and track votes by allowing participants to cast vote via email.</li>
        <li><strong>Proxying</strong> (i.e. Support Systems, CRMs, etc.) - Create new support tickets, contacts, etc in a third party system by processing an email.</li>
        <li><strong>Double Blind Messaging</strong> (i.e. Match.com, Craigslist) - Use the SparkPost Inbound Relay to set up anonymous messaging.</li>
      </ul>

      <h3>Data and Analytics</h3>
      <ul>
        <li><strong>Email Delivery Reporting Dashboards</strong> - With real-time analytics and reporting via SparkPost APIs, developers can create dashboards to monitor email deliveries, opens and bounces to better monitor their email sends.</li>
        <li><strong>Drive Engagement</strong> - Analyse open and click data to understand how certain content works with an audience and adjust content and email frequency.</li>
        <li><strong>Recipient List Maintenance</strong> - Watch for hard bounces, complaints, or unsubscribes and keep your list clean by removing recipients.</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Sample Applications</h2>
      <h4><a href="https://github.com/aydrian/giphy-responder" target="_blank">Giphy Responder</a></h4>
      <p>
        <span class="label label-default"><i class="devicon devicon-nodejs-plain"></i> Nodejs</span> <span class="label label-primary">Transactional Email</span> <span class="label label-info">Inbound Relay</span>
      <p>
      <p>
        An application that utilizes SparkPost to respond to an email with gifs using the <a href="https://github.com/Giphy/GiphyAPI" target="_blank">Giphy API</a> search based on keywords in the subject line.
      </p>

      <h4><a href="https://github.com/aydrian/sparkpost-firebase-demo" target="_blank">SparkPost with Firebase</a></h4>
      <p>
        <span class="label label-default"><i class="devicon devicon-nodejs-plain"></i> Nodejs</span> <span class="label label-primary">Transactional Email</span> <span class="label label-info">Inbound Relay</span> <span class="label label-success">Data and Analytics</span>
      </p>
      <p>
        An application that demonstrates using <a href="https://firebase.google.com/" target="_blank">Firebase</a> as a consumer for SparkPost Event and Relay Webhooks.
      </p>

      <h4><a href="https://github.com/aydrian/sparkpost-party" target="_blank">SparkPost Party</a></h4>
      <p>
        <span class="label label-default"><i class="devicon devicon-nodejs-plain"></i> Nodejs</span> <span class="label label-primary">Transactional Email</span> <span class="label label-info">Inbound Relay</span>
      <p>
      <p>
        An application that utilizes SparkPost to add songs to a playlist using the <a href="https://developer.spotify.com/web-api/" target="_blank">Spotify API</a>.
      </p>
    </div>
  </div>
</div>
