* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica', sans-serif;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
	padding: 38px 0 62px;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-flow: row wrap;
}

[class^='col'] {
	box-sizing: border-box;
	padding: 0 15px;
}

.col-md-1 {
	width: 8.33%;
}

.col-md-2 {
	width: 16.66%;
}

.col-md-3 {
	width: 25%;
}

.col-md-4 {
	width: 33.33%;
}

.col-md-5 {
	width: 41.66%;
}

.col-md-6 {
	width: 50%;
}

.col-md-7 {
	width: 58.33%;
}

.col-md-8 {
	width: 66.66%;
}

.col-md-9 {
	width: 75%;
}

.col-md-10 {
	width: 83.33%;
}

.col-md-11 {
	width: 91.66%;
}

@media (min-width: 768px) {
	.container {
	    width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
	    width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
