---
layout: default-grid
---
{% assign author = site.contributors | where: "id", page.author %}
{% assign author = author[0] %}
<div class="col-md-8">
  <div class="row padded">
      <p><a href="/faqs">&laquo; Back to FAQs</a></p>
      <h1>{{ page.question }}</h1>
      <div>{{ content }}</div>
  </div>
  {% if author %}
  <div class="row bottom-padded-giant">
      <div class="media">
          <div class="media-left">
              <img class="media-object" src="{{ author.email | to_gravatar: 55 }}" alt="{{ author.name }}">
          </div>
          <div class="media-body">
              <h4 class="media-heading">{{ author.name }}</h4>
              {% if author.company %}
              {{ author.title }}, {{ author.company }} <br/>
              {% endif %}
              {% if author.twitter %}
              <a href="https://www.twitter.com/{{ author.twitter }}"><i class="fa fa-twitter"></i></a>
              {% endif %}
              {% if author.github %}
              <a href="https://www.github.com/{{ author.github }}"><i class="fa fa-github"></i></a>
              {% endif %}
          </div>
      </div>
    </div>
</div>
{% endif %}
